<div class="container">
  <% @users.each do |user| %>
    <% @user = user.id %>
    <%= user.username %>
    <form id="add" method="post" action="/addfriend">
    <div class="submit"><input type="submit" value="Add friend"></div>
    </form>

    <a href="/delete"> Delete </a>
    <a href="/hide"> Hide </a>
    <br>
  <% end %>

<br><Br>
<h1>Friendships:</h1>
  <% @friendships.each do |friend| %>

    <%= friend.id %>
  <% end %>
</div>
