<div class="container">
  <% @users.each do |user| %>
    <%= user.username %>
    <a href="/addfriend"> Add Friend </a>
    <a href="/delete"> Delete </a>
    <a href="/hide"> Hide </a>
    <br>
  <% end %>
</div>
