<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

  <title>You Got FriendZ</title>
</head>
<body>
  <% if current_user %>
    <a href='/logout'>Log Out </a>
  <% else %>
    <a href='/login'>Log In</a> | <a href='/signup'> Sign Up </a>
  <% end %>
  <%= yield %>
</body>
</html>
